*{
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
}
body{
    background: rgb(4,2,33);
    background: linear-gradient(90deg, rgba(4,2,33,1) 0%, rgba(9,9,121,1) 31%, rgba(66,108,196,1) 61%, rgba(5,3,49,1) 100%); 
}